#procurement {
    background-color: #262324;
    color: #F0F0F0;

    h1, h2 {
        color: #e6b9b8;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%);
        background-image: url('./../../assets/waiter.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
    }

    &.present {
        h2:before, h2:after {
            width: 6rem;
            opacity: 1;

            @media all and (max-width: 600px) {
                width: 20vw;
            }
        }
    }

    @media all and (max-width: 600px) {
        &:after {
            width: 13vw;
            height: 13vw;
        }
    }
}
