.Team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto 0;
    width: 960px;

    &:last-of-type {
        margin-bottom: 10px
    }

    @media all and (max-width: 1024px) {
        width: 90vw;
        margin: 5vw auto 0;

        &:last-of-type {
            margin-bottom: 5vw
        }
    }
}
