.Team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
    width: 960px;

    @media all and (max-width: 1024px) {
        width: 90vw;
        margin: 5vw auto;
    }

    @media all and (max-width: 600px) {
        width: 90vw;
        margin: 5vw auto;
    }
}
