#culicon {
    background-color: #262324;
    color: #F0F0F0;
    text-align: center;

    h1, h2 {
        color: #e6b9b8;
    }

    h2 {
        &:before {
            transform: translate(-110%, 50%);
            background-image: linear-gradient(90deg, transparent, #e6b9b8);
        }

        &:after {
            transform: translate(10%, 50%);
            background-image: linear-gradient(90deg, #e6b9b8, transparent);
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 768px;

        li {
            width: 33%;
            margin-bottom: 10px;
        }

        @media all and (max-width: 600px) {
            li {
                width: 100%;
                margin-bottom: 1vw;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background-image: url('./../../assets/waiter.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
    }

    &.present {
        h2:before, h2:after {
            width: 6rem;

            @media all and (max-width: 600px) {
                width: 20vw;
            }
        }
    }

    @media all and (max-width: 600px) {
        &:after {
            width: 13vw;
            height: 13vw;
        }
    }
}
