.ContactForm {
    width: 500px;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &Title {
        color: #FFF;
        font-size: 1.3rem;
        margin: 0 0 1rem 0;
    }

    @media all and (max-width: 600px) {
        width: 90vw;
    }
}

.InputGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .InputWrapper { width: 49%; }
}

.InputSubmit {
    background-color: #F0F0F0;
    border: 1px solid transparent;
    outline: none;
    padding: .5rem 1rem;
    margin-top: .3rem;
    font-family: 'Roboto Slab';
    font-weight: bold;
    transition: .3s color ease-out, .3s background-color ease-out, .3s border-color ease-out;
    cursor: pointer;
    letter-spacing: .02rem;

    &:hover {
        background-color: #262324;
        color: #e6b9b8;
        border-color: rgba(red(#e6b9b8), green(#e6b9b8), blue(#e6b9b8), .4);
    }
}

.ThankYou {
    color: #e6b9b8;
    font-size: 1.2rem;
    transform: translateY(-130%);
    pointer-events: none;
    opacity: 0;
    transition: .3s opacity ease-out, .2s transform ease-out;

    &.Show {
        opacity: 1;
        transform: translateY(-110%);
    }

    @media all and (max-width: 1024px) {
        font-size: 1rem;
    }

    @media all and (max-width: 600px) {
        font-size: .8rem;
    }
}
