.footer {
    --footer-height: 250px;

    background-color: #000;
    min-height: var(--footer-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ig, .fb, .linkedin {
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 1rem 0;
    }

    .linkedin { background-image: url('./../../assets/linkedin-white.png'); }
    .fb { background-image: url('./../../assets/fb-white.png'); }
    .ig { background-image: url('./../../assets/ig-white.png'); }

    a {
        width: 100%;
        height: 100%;
        display: block;
    }

    &.no-form {
        --footer-height: 50px;
        justify-content: center;
        padding: 0;

        .socials {
            flex-direction: row;
        }

        .ig, .fb, .linkedin {
            height: 1.3rem;
            width: 1.3rem;
            margin: .3rem 1rem;
        }
    }

    @media all and (max-width: 600px) {
        --footer-height: 15vw;

        .ig, .fb, .linkedin {
            width: 6vw;
            height: 6vw;
            margin: 0 3vw;
        }
    }
}
