@import "normalize";

$headerBG: #FFF;
$brown: #262324;
$pink: #e6b9b8;

:root {
    --footer-height: 50px;
    --header-height: 100px;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Nunito';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
    margin-top: 0;
}

h1 {
    font-size: 3.5rem;

    @media all and (max-width: 600px) {
        font-size: 6.5vw;
    }
}

h2 {
    font-size: 1.5rem;
    margin: 50px auto 15px;
    position: relative;

    &:before, &:after {
        content: '';
        position: absolute;
        width: 6rem;
        height: 2px;
        top: 50%;
        background-size: 100% 5px;
        background-repeat: no-repeat;
    }

    &:before {
        transform: translate(-110%, 50%);
        background-image: linear-gradient(90deg, transparent, $pink);
    }

    &:after {
        transform: translate(10%, 50%);
        background-image: linear-gradient(90deg, $pink, transparent);
    }

    @media all and (max-width: 600px) {
        font-size: 4.5vw;
        margin: 8vw auto 2.5vw;

        &:before, &:after {
            width: 20vw;
            height: .6vw;
            background-size: 100% .8vw;
        }
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;

    li {
        width: 33%;
        margin-bottom: 10px;
    }

    @media all and (max-width: 600px) {
        li {
            width: 100%;
            margin-bottom: 1vw;
        }
    }
}

header {
    height: var(--header-height);
    background-color: $headerBG;
    overflow: hidden;
    display: flex;
    justify-content: space-around;

    @media all and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    background-color: #000;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;

    .ig, .fb, .linkedin {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 10px;
    }

    .linkedin { background-image: url('assets/linkedin-white.png'); }
    .fb { background-image: url('assets/fb-white.png'); }
    .ig { background-image: url('assets/ig-white.png'); }

    a {
        width: 100%;
        height: 100%;
        display: block;
    }

    @media all and (max-width: 600px) {
        --footer-height: 15vw;
        // height: 15vw;

        .ig, .fb, .linkedin {
            width: 6vw;
            height: 6vw;
            margin: 0 3vw;
        }
    }
}

nav {
    width: 50%;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    li {
        list-style-type: none;
        font-weight: bold;
        cursor: pointer;
        text-transform: uppercase;
    }

    a {
        transition: .3s color ease-out;
        text-decoration: none;
        color: $brown;

        &:hover {
            color: $pink;
        }
    }

    @media all and (max-width: 600px) {
        width: 100%;

        li {
            font-size: .6rem;
        }
    }
}

.logo {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media all and (max-width: 600px) {
        width: 50vw;
    }
}

.enter  {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height) - var(--footer-height));

    div {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    span {

    }
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
    width: 960px;
}

.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;

    .profile-image {
        background-image: url('https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&s=700');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &:after {
            content: '';
            background-color: $brown;
            opacity: .7;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .name {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin-top: 15px;
        margin-left: 10px;
        position: absolute;
        z-index: 10;
        color: #FFF;
        opacity: .7;
    }

    .info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #FFF;
        opacity: .7;
        transform: translateY(0%);
        transition: .4s transform ease-out .3s;

        .skills {
            position: absolute;
            bottom: 10px;
            left: 0;
        }

        .skill {
            margin-top: 15px;
            margin-left: 10px;

            &:first-of-type {
                margin-top: 0;
            }
        }

        .skill-name {
            text-align: left;
            font-weight: bold;
            font-size: 16px;
        }

        .skill-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .skill-item {
            text-align: left;
            font-size: 11px;

            &:after {
                content: '|';
                padding: 0 5px;
            }

            &:last-of-type {
                &:after { display: none; }
            }
        }
    }

    .bio {
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 10px;
        color: #FFF;
        opacity: .7;
        transform: translateY(120%);
        transition: .4s transform ease-out;

        .title {
            font-weight: bold;
            text-align: left;
        }

        .copy {
            font-size: 14px;
            width: 90%;
            text-align: left;
            margin-top: 10px;
            line-height: 1.25;
        }
    }

    &.showbio {
        .info {
            transform: translateY(100%);
            transition: .4s transform ease-out;
        }

        .bio {
            transform: translateY(0%);
            transition: .4s transform ease-out .3s;
        }
    }

    &.main {
        height: 500px;
        width: 450px;
    }

    &.sub {
        height: 250px;
        width: 100%;
        margin-top: 20px;
        background-color: $brown;

        .profile-image {
            width: 250px;
        }

        .name {
            margin-left: 260px;
        }

        .info {
            left: 250px;

            .skill-name {
                font-size: 14px;
            }
        }

        .bio {
            left: 260px;

            .title {
                font-size: 14px;
            }

            .copy {
                width: calc(97% - 250px);
                font-size: 11px;
            }
        }
    }
}

section {
    overflow: hidden;
    padding: 50px 0 90px;
    position: relative;

    h1, h2 {
        text-align: center;
    }

    p {
        max-width: 900px;
        margin: 0 auto 20px;
        font-size: 1rem;
        text-align: center;
    }

    @media all and (max-width: 600px) {
        padding: 10vw 5vw 18vw;

        p {
            margin: 0 auto 5vw;
            font-size: 3.5vw;
            line-height: 1.3;
        }
    }
}

.feature {
    color: #FFF;
    background: #000;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-image: url('assets/feature-2.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: right bottom;

    @media all and (max-width: 600px) {
        padding: 10vw 5vw;
        height: 50vw;
    }
}

#procurement {
    background-color: $brown;
    color: #F0F0F0;

    h1, h2 {
        color: $pink;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background-image: url('assets/waiter.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
    }

    @media all and (max-width: 600px) {
        &:after {
            width: 13vw;
            height: 13vw;
        }
    }
}

#culicon {
    background-color: $pink;
    text-align: center;

    h1, h2 {
        color: $brown;
    }

    h2 {
        &:before {
            transform: translate(-110%, 50%);
            background-image: linear-gradient(90deg, transparent, $brown);
        }

        &:after {
            transform: translate(10%, 50%);
            background-image: linear-gradient(90deg, $brown, transparent);
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background-image: url('assets/waiter-black.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
    }

    @media all and (max-width: 600px) {
        &:after {
            width: 13vw;
            height: 13vw;
        }
    }
}
