.enter  {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height) - var(--footer-height));

    div {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s background-color ease-out;

        &:hover {
            background-color: #262324;

            span { color: #e6b9b8; }
        }
    }

    a {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 4;
    }

    span {
        transition: .3s color ease-out;
        color: #262324;
        text-transform: uppercase;
        font-family: 'Roboto Slab';
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 20px;
        z-index: 2;
    }

    .background-image {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        opacity: .5;
    }

    .procurement {
        .background-image { background-image: url('./../../assets/home1.jpg') }
    }

    .culicon {
        .background-image { background-image: url('./../../assets/home2.jpg') }
    }
}
